{% extends 'base.html.twig' %}


{% block title %}{{user.nom}} {{user.prenom}}{% endblock %}

{% block body %}
 {% for message in app.flashes('success') %}
        <div class="alert alert-success">
          {{ message }}
        </div>
      {% endfor %}
<h1 class="text-center m-5">{{user.prenom}} {{user.nom}}</h1>
<ul class="list-group text-center">
    <li class="list-group-item">Email : {{user.email}}</li>
    <li class="list-group-item">Téléphone : {{user.tel}}</li>
    <li class="list-group-item">Adresse : {{user.adresse}} {{user.cp}}  {{user.ville}}</li>
    <li class="list-group-item">Date de naissance : {{user.dateNaissance | date("d/m/y")}}</li>
    <li class="list-group-item">Numéro de licence : {{user.numLicence}}</li>
    {% if user.membre == 0 %}
        <li class="list-group-item"><a href="{{path('admin_editMembership_user',{user : user.id})}}" class="btn btn-warning">Devenir membre</a></li>
    {% else %}
        <li class="list-group-item"><a href="{{path('admin_editMembership_user',{user : user.id})}}" class="btn btn-warning">Ne plus être membre</a></li>
    {% endif %}
    <form method="POST" action="{{path('admin_supprimer_user',{user : user.id})}}" onsubmit="return confirm('Etes-vous sûr ?')">

        <input type="hidden" name="_method" value="delete">
        <input type="hidden" name="_token" value="{{ csrf_token('SUP'~ user.id) }}">
     <li class="list-group-item"><input type="submit" class="btn btn-danger" value="Supprimer compte"></input></li>
    </form>
</ul>

{% endblock %}
