{% extends 'base.html.twig' %}

{% block title %}Page d'administrateur {% endblock %}

{% block body %}
<h1 class="text-center m-5">Page d'administration</h1>
<table class = "table text-center">
    <thead>
        <tr>
            <th>Circuit Adulte</th>
            <th>Circuit Enfant</th>
        </tr>
    </thead>
    <tbody>
        <tr>
        {% for course in courses %}
            <td>Nombre de place : {{course.nb_places}} </td>
        {% endfor %}
        </tr>
        <tr>
        {% for course in courses %}
            <td>Date de la course : {{course.date | date("d/m/y")}} </td>
        {% endfor %}
        </tr>
        <tr>
        {% for course in courses %}
            <td><a href="{{path('admin_consulter_participants', {course : course.id})}}" class="btn btn-info">Participants inscrits</a></td>
        {% endfor %}
        </tr>
        <tr>
        {% for course in courses %}
            <td><a href="{{path('admin_reporter_course',{course : course.id})}}" class="btn btn-warning">Reporter les courses</a></td>
        {% endfor %}
        </tr>
    </tbody>
</table>

<a href="{{path('admin_ajouter_course')}}" class="btn btn-success">Nouvelle course</a>

{% endblock %}
