<!DOCTYPE html>
<html>
    <head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
        <link href="{{ asset('style.css') }}" type="text/css" rel="stylesheet">

        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
      
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            {#{{ encore_entry_link_tags('app') }}#}
        {% endblock %}

        {% block javascripts %}
            {#{{ encore_entry_script_tags('app') }}#}
        {% endblock %}
    </head>
    <body>
          {% block header %}
<div class="container">
    
<nav class="navbar navbar-expand-md navbar-light bg-light">
    <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="#"><i class="bi bi-twitter"></i></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"><i class="bi bi-instagram"></i></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"><i class="bi bi-facebook"></i></a>
            </li>
        </ul>
    </div>

    <div class="mr-auto order-0">
       
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>

    <div class="navbar-collapse collapse w-200 order-2 order-ml-auto flex-nowrap">
        <ul class="navbar-nav ml-auto">
{# Onglet connexion visible uniquement sur la page login #}
    {% if is_granted('IS_ANONYMOUS')%}
  <li class="nav-item">
                 <a class="nav-link" href="{{ path('app_login') }}">Connexion</a>
            </li>
    {% else %}
    {% endif %}
{# Onglet inscription uniquement pour les non authentifiés #}
{% if is_granted('ROLE_ADMIN')%}
{% else %}
           <li class="nav-item">
                <a class="nav-link" href=""{{ path('app_register')}}">Inscription</a>
            </li>  
{% endif %}  
{# Onglet admin uniquement pour l'admin #}
   {% if is_granted('ROLE_ADMIN') %}       
        <li class="nav-item">
              <a class="nav-link" href="{{ path('admin_welcome')}}""><i class="fas fa-user-cog fa-2x"></i></a>
        </li> 
   {% endif %}
{# onglet mon compte pour tout le monde #}
  {% if is_granted('IS_ANONYMOUS')%}
  {% else %}
             <li class="nav-item">
                 <a class="nav-link" onMouseOver="Mon compte" href="{{ path('edit_user')}}"><i class="far fa-user-circle fa-2x"></i></a>
            </li>
  {% endif %}
  {# Onglet Déconnexion pour tout le monde sauf les non connectés #}
  {% if is_granted('IS_ANONYMOUS')%}
 
  {% else %}
            <li class="nav-item">
              <a class="nav-link" href="{{ path('app_logout') }}" ><i class="fas fa-sign-out-alt fa-2x"></i> </a>
            </li>
  {% endif %}
        </ul>
    </div>

</nav>
<div class="container">
<div class="row mt-2 mb-2">
<a class="px-0" href="{{path('accueil')}}"> <img src="{{ asset('img/Header.png')}}"  alt="header" class="img-fluid"> </a>


</div>
</div>
        {% endblock %}
        {% block body %}
        
  
    
        
        
        {% endblock %}

        {% block footer %}
<!-- Footer -->
<footer class="bg-light text-center text-white mt-3">
  <div class="container p-4">
    <nav class="navbar navbar-expand-md navbar-light bg-light">
        <div class>

                <a class="btn btn-outline-dark btn-floating m-1" href="#"><i class="bi bi-twitter" role="button"></i></a>
                <a class="btn btn-outline-dark btn-floating m-1" href="#"><i class="bi bi-instagram" role="button"></i></a> 
                <a class="btn btn-outline-dark btn-floating m-1" href="#"><i class="bi bi-facebook" role="button"></i></a> 
                <a class="btn btn-outline-dark btn-floating m-1" href="#"><i class="bi bi-google" role="button"></i></a> 
        </div>
    <div class="navbar-nav ml-auto">>
                <a class="btn btn-outline-dark btn-floating m-1" href="{{path('contact')}}">Nous contacter<role="button"></a>
        
    </div>

    </nav>


  <div class="text-center p-3 bg-secondary">
  
        Mentions légales <a class="text-white" href="#"> </a>
         <p>&#x1F96D; Mango Team</p>
  </div>
  
    
        {% endblock %}
    
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    </body>
</html>
